<%= render 'remove_filter',
            path: cloth_items_path(destroy_all_colors: true, destroy_category: true),
            caption: "remove filters",
            button: "btn btn-danger btn-sm" %>
