<h1>My clothes</h1>
<%= "Filter:" %>
<%= "Show all" unless session[:category] || session[:color].any? %>

<%= render 'remove_category' if session[:category] %>

<% if session[:color] %>
  <% session[:color].each do |color| %>
    <%= render 'remove_color', name: color %>
  <% end %>
<% end %>

<% if session[:category] && session[:color].any? || session[:color].count > 1 %>
  <%= render 'remove_all' %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <%= will_paginate %>
  </div>
</div>

<div class="row gallery">
  <% @cloth_items.each do |cloth_item| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="row max-width">
        <div class="back" data-cloth-item-id="<%= cloth_item.id %>">
          <div class="delete">
            <div class="vertically-centered">
              <p>Are you sure you want to delete cloth item?</p>
              <a href="#"
                 class="cancel_cloth_item_deletion"
                 data-cloth-item-id="<%= cloth_item.id %>"
              >
                <span class="glyphicon glyphicon-circle-arrow-left"></span> cancel
              </a>
              <%= link_to cloth_item_path(cloth_item),
                          method: :delete,
                          'data-cloth-item-id' => cloth_item.id,
                          'class' => 'delete_cloth_item' do %>
                <span class="glyphicon glyphicon-trash"></span> delete
              <% end %>
            </div>
          </div>
        </div>
        <%= link_to cloth_item_path(cloth_item) do %>
          <div class="gallery_img"
               style="background-image: url('<%= photo_cloth_item_path(cloth_item) %>');">
          </div>
        <% end %>
        <div class="col-xs-11 caption">
          <%= render 'show_tags', cloth_item: cloth_item, limit: 1 %>
        </div>
        <div class="col-xs-1 caption">
          <a href="#"
             class="cloth_item_delete"
             data-cloth-item-id="<%= cloth_item.id %>"
          >
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= will_paginate %>
  </div>
</div>

