<%= form_for(@cloth_item) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    <h3> Category </h3>
    <% Category.all.each do |category| %>
      <div class="radio-buttons">
        <%= f.radio_button(:category_id, category.id) %>
        <%= f.label "category_id_#{category.id}", category.name %>
      </div>
    <% end %>
  </p>

  <p>
    <h3 class="radio_name"> Color </h3>
    <% Color.all.each do |color| %>
      <div class="radio-buttons">
        <%= f.radio_button(:color_id, color.id) %>
        <%= f.label "color_id_#{color.id}", color.name %>
      </div>
    <% end %>
  </p>

  <p>
    <h3 class="radio_name"> Photo </h3>
    <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png' %>
  </p>

  <p>
    <h3>Tags</h3>
    <%= f.text_field :tags,
                     'value' => f.object.tags.map(&:name).join(', ')
                      %>
  </p>

  <script type="text/javascript">
    var tags_list = [
      <%= @tags.map{|tag| "{ name: '#{tag.name}' }" }.join(', ').html_safe %>
    ];
  </script>
  <script type="text/javascript">
    $(function() {
      var tags = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: tags_list
      });
      tags.initialize();
      $('#cloth_item_tags').tagsinput({
        typeaheadjs: {
          displayKey: 'name',
          source: tags.ttAdapter()
        }
      });
    });
  </script>

  <style type="text/css">
    .tt-query {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
      color: #999
    }

    .tt-menu {
      width: 422px;
      margin: 12px 0;
      padding: 8px 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
      padding: 3px 20px;
      font-size: 18px;
      line-height: 24px;
    }

    .tt-suggestion:hover {
      cursor: pointer;
      color: #fff;
      background-color: #0097cf;
    }

    .tt-suggestion.tt-cursor {
      color: #fff;
      background-color: #0097cf;

    }

    .tt-suggestion p {
      margin: 0;
    }
  </style>

  <p>
    <%= f.submit "Add Cloth Item", class: "button" %>
  </p>
<% end %>
