<h4>Category: <%= @cloth_item.category.name %></h4>
<h4>Color: <%= @cloth_item.color.name %></h4>

<%= render 'show_tags', cloth_item: @cloth_item %>

<div class="row">
  <div class="col-sm-12 show_img">
    <img src='<%= photo_cloth_item_path(@cloth_item) %>' alt='cloth item photo' />
    <div class='row links'>
      <%= link_to 'edit', edit_cloth_item_path(@cloth_item), class: "button" %>

      <%= link_to 'back', cloth_items_path, class: "button back" %>
    </div>
  </div>
</div>




