<h2 class="form_title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <%= f.fields_for :user do |f2| %>
    <div class="row form_field">
      <div class="col-sm-6">
        <%= f2.label :name %>
      </div>
      <div class="col-sm-6">
        <%= f2.text_field :name, autofocus: true %>
      </div>
    </div>
  <% end %>


  <div class="row form_field">
    <div class="col-sm-6">
      <%= f.label :email %>
    </div>
    <div class="col-sm-6">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="row form_field">
    <div class="col-sm-6">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="row form_field">
    <div class="col-sm-6">
      <%= f.label :password_confirmation %>
    </div>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>