<h2 class="form_title">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row form_field">
    <div class="col-sm-6">
      <%= f.label :email %>
    </div>
    <div class="col-sm-6">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <div class="row form_field">
    <div class="col-sm-6">
      <%= f.label :password %>
    </div>
    <div class="col-sm-6">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="row form_field">
      <div class="col-sm-6">
        <%= f.label :remember_me %>
      </div>
      <div class="col-sm-6">
        <%= f.check_box :remember_me %>
      </div>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
