.list-group-item a {
  &:hover {
    text-decoration: none;
  }
}

.list-group-item:hover {
  background-color: #ccccff;
}

.list-group-item.active {
  background-color: #ccccff;
  border: none;
  pointer-events: none;
  cursor: default;
}


