// Place all the styles related to the ClothItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gallery_img {
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 134%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #d7dee8;
}

.pagination > .active > a {
  z-index: 0;
}

.tag::before {
  content: "#";
  float: left;
}

.tag {
  float: left;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 1px 5px 0 5px;
  background-color:  #000080;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
}

.show_img {
  img {
  max-height: 400px;
  margin-bottom: 10px;
  }
  a {
    margin-right: 10px;
  }
}

.cloth_item_delete .glyphicon-trash {
  float: right;
  padding-top: 2.5px;
}

.max-width {
  padding-top: 15px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  .back {
    background-color: rgba(234, 235, 237, 0.8);
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-color: #d7dee8;
    display: none;
    position: absolute;
    max-width: 300px;
    width: calc(100% - 30px);
    height: calc(100% - 2em - 20px);
  }
}

.caption {
  padding: 0;
  height: 2em;
}

.delete {
  text-align: center;
  a {
    border: 2px solid #00264d;
    border-radius: 6px;
    padding: 6px 13px 1px 13px;
    background-color: white;
    transition-duration: 0.4s;
    text-decoration: none;
    color: inherit;
    margin-right:5px;
    &:hover {
      background-color: #0075AE;
      color: white;
    }
    &.delete_cloth_item:hover {
      background-color: #D20000;
    }
  }
}

div.vertically-centered {
    width: 200px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.photo_minature {
  padding-bottom: 5px;
  max-width: 100px;
}

a.button {
  text-decoration: none;
}

a.btn div {
  display: inline-block;
  padding-top: 1px;
}

.glyphicon-remove {
  vertical-align: middle;
}

.btn {
  margin-left: 5px;
}

.btn-sm {
  padding: 3px 8px;
}
