.form_field input {
  border: 1px solid #bbb;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 4px;
}

.form_field {
  padding-bottom: 5px;
}

form {
  padding-bottom: 5px;
}

.new_cloth_item label {
  padding: 4px;
  width: 200px;
}

.button {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.button:hover {
  background-color: #99c2ff;
}

.radio-buttons {
  width: 230px;
  float: left;
  :hover {
    background-color: #f2f2f2;
  }
}

.radio_name {
  clear:both
}
