* {
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-container {
  position: fixed;
  z-index: 1;
  width:100%;
}

#main {
  text-align: center;
}

#tray {
  height: 120px;
  padding-top: 5px;
  background-color: #ccccff;
}

#header {
  height: 120px;
  padding-top: 5px;
  margin-top: 72px;
  background-color: #f7e6ff;
}

#main-menu.navbar {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#footer .navbar {
  margin-bottom: 0px;
  margin-top: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn_accordion {
  width: 100%;
  background-color: #f2f2f2;
  height: 30px;
  text-align: left;
  padding-left: 5px;
}

.aside-tray {
  margin-top: 70px;
  position: fixed;
  width: 150px;
}

.aside {
  position: fixed;
  width: 150px;
  height: 100%;
}

.aside_margin {
  height: 100%;
  padding-top: 200px;
  padding-bottom: 70px;
}

.aside_inner {
  height: 100%;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  #content {
    margin-left: 150px;
    min-height: calc(100vh - 50px);
  }
}
