textarea {
  resize: vertical;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  padding-top: 20px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.form_title {
  text-align: left;
}

#error_explanation h2 {
  text-align: left;
}
