<div id="main">
    <h1>Welcome to MyCubby </h1>

    <h2>This is the home page for the MyCubby application.</h2>
    <input type="text" name="nico" value="asd">
    <br />
    asdasd  asd asd as asd  asd asd asd asda sasad asd asd
    <br />
    asdasd  asd asd as asd  asd asd asd asda sasad asd asd
    <br />
    asdasd  asd asd as asd  asd asd asd asda sasad asd asd
    <br />
    asdasd  asd asd as asd  asd asd asd asda sasad asd asd
    <br />
    asdasd  asd asd as asd  asd asd asd asda sasad asd asd
    <br />
    asdasd  asd asd as asd  asd asd asd asda sasad asd asd
    <br />
    asdasd  asd asd as asd  asd asd asd asda sasad asd asd
    <br />
    asdasd  asd asd as asd  asd asd asd asda sasad asd asd
    <br />
    asdasd  asd asd as asd  asd asd asd asda sasad asd asd
    <br />
    asdasd  asd asd as asd  asd asd asd asda sasad asd asd
</div>
