<nav>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "*,.*", '#' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Item1", '#' %></li>
      <li><%= link_to "Item2", '#' %></li>
      <li><%= link_to "^..^", '#' %></li>
    </ul>
  </div>
</nav>
