<nav>
  <div class="navbar-header">
    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <% if account_signed_in? %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Hello #{current_account.user.name}", '#' %></li>
        <li>
          <%= link_to "Log out", destroy_account_session_path, method: :delete %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My clothes", cloth_items_path %></li>
        <li><%= link_to "My sets", '#' %></li>
        <li><%= link_to "New item", new_cloth_item_path %></li>
      </ul>
    <% else %>
    <ul class="nav navbar-nav">
      <li><%= link_to "Sign up", new_account_registration_path %></li>
      <li><%= link_to "Login", new_account_session_path %></li>
    </ul>
    <% end %>
  </div>
</nav>
