<div id="side_menu">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <h4 class="panel-title" id="accordion">
        <button class="btn_accordion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
        Categories
        </button>
      </h4>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
          <%= render 'layouts/category_item', name: 'Dresses' %>
          <%= render 'layouts/category_item', name: 'Tops' %>
          <%= render 'layouts/category_item', name: 'Shirts&Blouses' %>
          <%= render 'layouts/category_item', name: 'Cardigans&Jumpers' %>
          <%= render 'layouts/category_item', name: 'Jackets' %>
          <%= render 'layouts/category_item', name: 'Coates' %>
          <%= render 'layouts/category_item', name: 'Shorts' %>
          <%= render 'layouts/category_item', name: 'Trousers' %>
          <%= render 'layouts/category_item', name: 'Jeans' %>
          <%= render 'layouts/category_item', name: 'Skirts' %>
          <%= render 'layouts/category_item', name: 'Shoes' %>
          <%= render 'layouts/category_item', name: 'Accessories' %>
          <%= render 'layouts/category_item', name: 'Sportswear' %>
          <%= render 'layouts/category_item', name: 'Miscellaneous' %>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <h4 class="panel-title">
        <button class="btn_accordion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
        Occasion
        </button>
      </h4>
      <div id="collapse2" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">One</li>
          <li class="list-group-item">Two</li>
          <li class="list-group-item">Three</li>
          <li class="list-group-item">One</li>
          <li class="list-group-item">Two</li>
          <li class="list-group-item">Three</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <h4 class="panel-title">
        <button class="btn_accordion" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
        Color
        </button>
      </h4>
      <div id="collapse3" class="panel-collapse collapse">
        <ul class="list-group">
          <%= render 'layouts/color_item', name: 'black' %>
          <%= render 'layouts/color_item', name: 'white' %>
          <%= render 'layouts/color_item', name: 'grey' %>
          <%= render 'layouts/color_item', name: 'brown' %>
          <%= render 'layouts/color_item', name: 'violet' %>
          <%= render 'layouts/color_item', name: 'blue' %>
          <%= render 'layouts/color_item', name: 'green' %>
          <%= render 'layouts/color_item', name: 'yellow' %>
          <%= render 'layouts/color_item', name: 'red' %>
          <%= render 'layouts/color_item', name: 'pink' %>
          <%= render 'layouts/color_item', name: 'orange' %>
          <%= render 'layouts/color_item', name: 'multicolor' %>
        </ul>
      </div>
    </div>
  </div>
</div>
