<!DOCTYPE html>
<html>
  <head>
    <title>MyCubby</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="nav-container">
      <div class="container" >
        <div class="row">
          <div id="main-menu" class="col-sm-12 navbar navbar-inverse">
            <%= render 'layouts/main_menu' %>
          </div>
        </div>
      </div>
    </div>

    <div class="container hidden-xs">
      <div class="aside-tray">
        <%= render 'layouts/tray' %>
      </div>
    </div>

    <div class="container hidden-xs">
      <div class="aside">
        <div class="aside_margin">
          <div class="aside_inner">
            <%= render 'layouts/side_menu' %>
          </div>
        </div>
      </div>
    </div>

    <div class="container" >
      <div id="content" class="row">
        <div class="col-sm-12">
          <%= render 'layouts/header' %>
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="footer" class="container">
      <div class="row">
        <div class="col-sm-12 navbar navbar-inverse">
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
